
:root {
  --body-image: url('../images/Plants.png'); 
  --bg-size: cover;
  --bg-repeat: no-repeat;
  --bg-color:blueviolet;
}

body{
    background-image: var(--body-image);
    background-size:var(--bg-size);
    background-repeat:  var(--bg-repeat);
    background-attachment: fixed;
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;

}

/*Go back Icon*/
.back_img{}

/*Go to update or delete buttons*/
.upt_del{}


/*All details from JournalEntry*/
.journal_detail{}

/*Journal Title*/
.j_title{}

/*Jouranl moods div*/
.j_moods{}

/*Journal's text content*/
.j_text{}

/*Journal's optional Image*/
.j_image{
}