{% extends 'main_app/base.html' %}{% load static %} {%block head%}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{%endblock%}{% block content %}
<div class="main_title">
  <section>
    <!--<h1><strong>My Journals</strong></h1>-->
    <p>My Journals</p>
  </section>
</div>

<div class="main_tip">
  <section class="page-header">
    <!--<h1>✏️📒</h1>-->
    <h2>📒 Tip of the day:</h2>

    {% if tip %}
    <div class="tip-card">
      <p>{{ tip.content }}</p>
      <!-- <small>{{ tips.created_at|date:"M d, Y" }}</small>-->
    </div>
    {% else %}
    <p>No tips available yet :(</p>
    {% endif %}
  </section>
</div>

<div class="home_container">
  {% for journal in journals %}
  <a href="{% url 'journal_detail' journal.id %}">
    <div class="journal-card">
      {% if journal.image %}
      <img
        src="{{ journal.image.url }}"
        class="journal-image"
        width="100px"
        height="100px"
      />
      {% endif %}
      <h2>{{ journal.title }}</h2>
      <p>Date & Time: {{ journal.created_at|date:"M d, Y H:i" }}</p>
    </div>
  </a>
  {% empty %}
  <p>No journals yet.</p>
  {% endfor %}
</div>

<div class="create_journal">
  <a href="{% url 'journal_create' %}" class="btn btn-primary"
    ><img
      src="{% static 'images/plus.jpg' %}"
      alt="Add Journals"
      height="50px"
      width="50px"
  /></a>
</div>
{% endblock %}
