{% extends 'main_app/base.html' %}{% block content %}
<div>
  <h1>Sign Up</h1>
</div>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<form action="{% url 'signup' %}" method="post" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <!--Here we added the email in the sign up page besides adjusting the views.py in the signup function-->
    <tr>
      <th><label for="email">Email:</label></th>
      <td><input type="email" name="email" required /></td>
    </tr>
  </table>
  <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="{% url 'index' %}">Login here</a></p>

{% endblock %}
