{% extends 'main_app/base.html' %} {% block content %}
<a href="{% url 'home' %}" title="Back to journals">Back to Journals</a>

<section class="journal-detail">
  <h1>{{ journal.title }}</h1>

  {% if journal.moods.all %}
  <div class="journal-moods">
    <h3>Feeling:</h3>
    {% for mood in journal.moods.all %}
    <div style="display: inline-block; margin: 5px; text-align: center">
      <img
        src="{{ mood.image.url }}"
        alt="{{ mood.name }}"
        width="50"
        height="50"
        title="{{ mood.name }}"
      />
      <br />
      {{ mood.name }}
    </div>
    {% endfor %}
  </div>
  <p>{{ journal.journal }}</p>
  {% endif %} {% if journal.image %}
  <img src="{{ journal.image.url }}" alt="Journal image" width="300" />
  {% endif %}

  <p>Created at: {{ journal.created_at|date:"M d, Y H:i" }}</p>
</section>

<section>
  <a href="{% url 'journal_update' journal.pk %}">Edit</a>
  <a href="{% url 'journal_confirm_delete' journal.pk %}">Delete</a>
</section>
{% endblock %}
