{% extends 'main_app/base.html' %} {% load static %} {%block head%}
<link rel="stylesheet" href="{% static 'css/journals/journal_detail.css' %}" />
{%endblock%}{% block content %}
<div class="back_img">
  <a href="{% url 'home' %}" title="Back to journals"
    ><img
      src="{% static 'images/Back_Arrow.png' %}"
      alt="Back to Journals"
      width="40px"
      height="40px"
  /></a>
</div>

<div class="upt_del">
  <a href="{% url 'journal_update' journal.pk %}">Edit</a>
  <a href="{% url 'journal_confirm_delete' journal.pk %}">Delete</a>
</div>

<div class="journal-detail">
  <div class="j_title">
    <h1>{{ journal.title }}</h1>
  </div>

  {% if journal.moods.all %}
  <div class="journal-moods">
    <h3>Feeling:</h3>
    {% for mood in journal.moods.all %}
    <div style="display: inline-block; margin: 5px; text-align: center">
      <img
        src="{{ mood.image.url }}"
        alt="{{ mood.name }}"
        width="50"
        height="50"
        title="{{ mood.name }}"
      />
      <br />
      {{ mood.name }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="j_text">
    <p>{{ journal.journal }}</p>
  </div>

  <div class="j_image">
    {% if journal.image %}
    <img src="{{ journal.image.url }}" alt="Journal image" width="300" />
    {% endif %}
  </div>

  <p>Created at: {{ journal.created_at|date:"M d, Y H:i" }}</p>
</div>
<!--End of journal_detail-->

{% endblock %}
